.reminders {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.reminders__form {
  width: 40rem;
}

.reminders__list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}
