<link rel="stylesheet" href="/css/header.css" />
<header class="header projects__header">
  <h1 class="header__title"><%= title %></h1>
  <p class="header__description"><%= description %></p>
</header>
